* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    display: flex;
    height: 5vh;
    gap: 2em;
    background-color: rgb(129, 127, 127);
}

nav label {
    background-color: #eee;
}

#content {
    gap: 2em;
    width: 100vw;
    height: 95vh;

    display: flex;
    justify-content: center;
}

.lane_canvas {
    /* background-color: red; */
    border-left: 1px solid black;
    border-right: 1px solid black;
    
    /* Removes unwanted margin after canvas */
    display: block;
}

#note_stats {
    background-color: #eee;
    padding: 1em;
    display: flex;
    gap: 2em;
}

#measures_input {
    max-width: 4em;
}