 

  
  /* #region ( Sidebar ) */
  /* 
  Should be a button click to expand that disappears once expanded
  replaced with a button to retract in expanded form. 
  */
  #sidebar {
    display: none;
  
    width: 2vw;
    height: 100vh;
    background-color: white;
    transition: width .25s;
    transition-timing-function: ease-in-out;
  }
  
  #new_lane_input {
  
    /* max-width: 2.5em; */
    text-align: center;
  }

  #new_lane_input:hover {
    cursor:pointer  
  }
  
  #new_lane_input:focus {
    background-color: rgba(34, 158, 17, 0.274);
    caret-color: transparent;
  }

  #sidebar:hover {
    width: 15vw;
  }
  
  #sidebar_expand {
    background-color: #ecdfcc67;
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 1em;
  }
  /* #endregion */
  
  #lane_container {
    width: 100%;
    height: 100%;
  
    display: flex;
    gap: 3em;
    justify-content: center;
  }
  
  .lane_canvas {
    background-color: var(--lane_background);
    border-radius: 15px;
    z-index: 2;
  }
  
  .lane_canvas.editing {
    /* background-color: blue;  */
    color: #14141410;
  }
  
  .canvas_container.background {
    display: none;
  }
  
  #test_canvas {
    width: 25vw;
    height: 100vh;
  }
  
  
  .lane_editing.activated {
    left: -25px;
    position: relative;
    transition: left .65s ease-in-out;
  
    margin-right: -25px;
    opacity: 1;

    pointer-events: all;
  }
  
  
  .lane_editing {
    pointer-events: none;
    /* width: 10vw; */
    height: 100%;
    border-radius: 15px;
    background-color: #ecdfcc69;
  
    /* TODO: Make this more solid with run controls */
    padding-top: 5em;
    padding-bottom: 5%;
    padding-left: 45px;
    padding-right: 20px;
    

    left: -100%;
    
    position: absolute;
    opacity: 0;
  
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;  
    /* background-color: red; */
    /* transition: left .65s ease; */
  
    gap: 1em;
    color: #ECDFCC;

    overflow: scroll;
  }
  
  .lane_editing input{
    background-color: #ffffff;
    color: #131B23;
    border: none; 
    border-radius: 5px;
    text-align: center;
  }
  
  .lane_editing select{
    background-color: #ffffff;
    color: #131B23;
    border: none; 
    border-radius: 5px;
    text-align: center;
  }
  
  .lane_editing select.decorated option:hover {
    background-color: #131B23;
    color: #ece5da;
  }
  
  .delete_button {
    margin-top: auto;
    /* top: 0; */
  }
  
  
  .lane_editing button {
    background-color: #ECDFCC;
    color: #131B23;
    border: none;
    border-radius: 10px;
  }
  
  .lane_editing button:hover {
    background-color: #131B23;
    color: #ece5da;
  }
  
  .lane_editing .delete_button:hover {
    background-color: maroon;
    color: #ece5da;
  }
  
  .metronome_button {
    padding: 0.25em;
  }
  
  .metronome_button.selected {
    background-color: #131B23;
    color: #ece5da;
  }
  
  .bpm_container, .measure_count_container, 
  .precisioun_container, .metronome_sound_container, 
  .lane_sound_container {
    display: flex;
    gap: .25em;
    align-items: center;
  }

  .bpm_input, .measure_count_input{
    max-width: 4em;
  }
  
  .pattern_loading_container {
    display: none;
    flex-direction: column;
    gap: .25em;
    margin-top: .25em;
  }
  
  .lane_loading_container {
    margin-top: .25em;
    display: flex;
    flex-direction: column;
    gap: .25em;
  }
  
  .load_lane_buttons {
    display: flex;
    justify-content: space-around;
    gap: .25em;
  }

  .load_lane_buttons button {
    padding: .15em .25em;
  }

  .pattern_loading_container.visible {
    display: flex;
  }
  
  .canvas_container {
    z-index: 0;
    position: relative;
    display: flex;
    border: 1px dashed #eccccc00;
    transition: border .1s linear, background-color .5s ease;
    /* width: fit-content; */
    padding: 0 1em 0 1em;
  }
  
  /* TODO: ONLY WHEN IN EDIT MODE */
  #lane_container.editing .canvas_container:hover {
    /* background-color: red; */
    border-radius: 5px;
    border-left: 1px dashed var(--lane_background); 
    border-right: 1px dashed var(--lane_background); 
    background-color: #ecdfcc33;
  }
  



  

  

  /* .lane_canvas:hover {
    background-color: red; 
   } */
  
  .time_signature_select {
    max-width: 4em;
    text-align: center;
  }
  
  

  
  #workspace_measure_count_container {
    display: flex;
    gap: 1em;
    /* flex-direction: column; */
  }
  
  #workspace_measure_count {
    max-width: 4em;
  }
  
  .loop_button {
    border: none; 
    padding: 0.25em; 
    border-radius: 10px;
  }
  
  .loop_button[disabled] { background-color: #ecdfcc5e; }
  .loop_button[disabled]:hover { background-color: #ecdfcc5e; color: #131B23;}
  
  .loop_button.selected {
    background-color: #131B23;
    color: #ECDFCC;
  }
  
  .edit_mode_button {
    border: none;
    padding: 0.25em; 
    border-radius: 10px;
  }
  
  .edit_mode_button.selected {
    background-color: #131B23;
    color: #ECDFCC;
  }
  
  /* .save_pattern { display: none; }
  .save_pattern.visible { display: block;}
  
  .pattern_name { display: none; }
  .pattern_name.visible { display: block; } */
  
  /* .save_pattern, .pattern_name, .close_pattern { display: none;} */
  /* .save_pattern.visible, .pattern_name.visible, .close_pattern.visible { display: block; } */
  

  .pattern_creation_container {
    display: none;
    margin-top: .25em;
  }

  .pattern_creation_container.visible {
    gap: .25em;
    display: flex;
    flex-direction: column;
  }



  /* .new_pattern_measures_container {display: none;} */
  .new_pattern_measures_container {display: flex; gap: .5em;}
  
  .new_pattern_measures {max-width: 4em;}
  
  .loaded_pattern_measures {
    max-width: 4em;
  }
  
  .precision_select {
    width: 4em;
  }
  
  .lane_sound_select {
    width: 7em;
  }
  
  .time_signature_select {
    width: 4em;
  }
  
  .tootltip {
    text-align: center;
  }
  
  .metronome_container {
    display: flex;
    align-items: center;
    gap: .25em;
  }
  
  .metronome_select {
    width: 7em;
  }
  
  .load_pattern {
    padding: 0.15em;
  }
  
  .load_pattern[disabled] { background-color: #ecdfcc5e; }
  .load_pattern[disabled]:hover { background-color: #ecdfcc5e; color: #131B23;}





/* TODO Make these styles DYNAMIC */
.edit_mode_container {
  display: flex;
  gap: .25em;
}

.statsScreen {
  position: absolute;
  top: 2em; 
  left: 50%; 
  
  width: 50vw;
  height: 60vh;

  border-radius: 15px;
  border: 3px solid #ECDFCC;
  background-color: var(--site_background);

  transform: translateX(-50%);

  z-index: 1;

  color: var(--lane_background);
}

.closeContainer:hover {
  background-color: red;
}

.closeContainer {
  display: flex;
  padding: .25em;
  border-radius: 15px;
  position: absolute;
  top: .5em;
  right: .5em;
  color: var(--lane_background);
}

.tabs {
  padding-top: 2em;
  padding-left: 1em;
  align-items: center;
  display: flex;
  gap: .5em;
  /* height: 3em; */
  border-bottom: 1px solid var(--lane_background);
}

.tab:hover {
  cursor: pointer;
}

.tab {
  text-align: center;
  width: 3em;
  /* color: #131B23; */
  color: #ECDFCC;
  background-color: #ecdfcc62;
  border-top-right-radius: 12px;
  border-top-left-radius: 3px;
}

.tab.selected {
  background-color: #ECDFCC;
  color: #131B23;
}

.statContent {
  padding: 2.25em;
}

.statsScreen {
  overflow: scroll;
}


