#run_controls {
  padding: .25em .5em;
  background-color: var(--lane_background);

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: transform 0.5s ease;
  display: flex;
}

#run_controls.active {
  /* left: -10em; */
  /* position: absolute; */
  transform: translateX(-5em);
}

#button_container {
  gap: .25em;
  display: flex;
  flex-direction: column;
}

#button_container input {
  max-width: 1.5em;
}


/* #region ( buttons )  */
#button_container button {
  border: none;
  padding: 0.25em;
  border-radius: 5px;
  
  text-decoration: none;
  background-color: gray;

  cursor: pointer;  
}

#button_container button.selected {
  background-color: orange;
}

#button_container button:hover {
  background-color: green;
}


#lock_button.selected {
  top: .25em;
  right: -5.5em;
  position: absolute;

  rotate: 180deg;
  background-color: var(--lane_background);
}

.bottom_buttons {
  gap: .25em;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.middle_buttons {
  gap: .25em;
  display: flex;
  margin-top: 1.5em;
  flex-direction: column;

}
/* #endregion */
