#run_controls {
  padding: .25em .5em;
  background-color: var(--lane_background);

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: transform 0.5s ease;
  display: flex;
}

#run_controls.active {
  /* left: -10em; */
  /* position: absolute; */
  transform: translateX(-5em);
}

#button_container {
  gap: .25em;
  display: flex;
  flex-direction: column;
}

#button_container input {
  max-width: 1.5em;
}


/* #region ( buttons )  */
#button_container button {
  padding: 0.25em;
  border-radius: 5px;
  
  text-decoration: none;
  background-color: gray;
  color: #131B23;
  background-color: #131b2352;
  
  box-sizing: border-box;
  border: 1px solid #131B23;
  
  cursor: pointer;  
}

#button_container button.selected {
  background-color: rgba(255, 145, 0, 0.534);
}

#button_container button:hover {
  color: #ecdfccd5;
  background-color: #131b23e5;
}


#lock_button.selected {
  top: .25em;
  right: -5.5em;

  position: absolute;

  transform-origin: center;
  rotate: 180deg;


  background-color: var(--lane_background) !important;
}

#lock_button.selected:hover {
  border: 1px solid #ecdfccd5 !important;
  color: #ecdfccd5 !important;
  background-color: #131b23e5 !important;
}

.bottom_buttons {
  gap: .25em;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.middle_buttons {
  gap: .25em;
  display: flex;
  margin-top: 1.5em;
  flex-direction: column;

}
/* #endregion */
