 /* TODO: Refactor this name */
.session_load_screen, .session_save_screen, .profile_screen, .notifications_screen, .settings_screen {
    position: absolute;

    top: 2em; 
    left: 50%; 
    
    width: 50vw;
    height: 60vh;
  
    min-height: 200px;

    border-radius: 15px;
    border: 3px solid #ECDFCC;
    background-color: var(--site_secondary);
  
    transform: translateX(-50%);
  
    z-index: 1;
  
    color: var(--site_primary);   

    display: flex;
    flex-direction: column;

    overflow: auto;
}

.save_content, .load_content, .notifications_content, .profile_content {
    /* height: 100%;
    width: 100%; */
    /* background-color: #ecdfcc7c; */
    border-radius: 10px;

    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: .25em;

    padding: 2.25em;
}

.tabs {
    flex-shrink: 1;
}



#notifications_button {
    position: relative;
}

.notifications_indicator {
    width: 1.25em;
    height: 1.25em;
    position: absolute;
    
    color: white;
    border-radius: 15px;
    background-color: red;
    
    display: flex;
    align-items: center;
    justify-content: center;

    top: -0.3em;
    right: -0.55em;
}

.notifications_content {
    overflow-y: auto;
    flex: 1;

    display: flex;
    flex-direction: column;


    align-items: flex-start;
    gap: .5em;
}

.friend_request {
    padding: .5em;
    border-radius: 10px;
    border: 1px solid #ECDFCC;

    display: flex;
    gap: .25em;
    align-items: safe center;
}

.friend_request button {
    box-sizing: border-box;
    background-color: #ECDFCC;
    color: #131B23;
    border: none;
    border-radius: 5px;
    padding: .25em;

    border: 1px solid #131B23;
}

.friend_request .accept:hover {
    background-color: #2a5a29;
}

.friend_request .decline:hover {
    color: #ece5da;
    background-color: #5a3029;
}

.friend_request button:hover {
    color: #ece5da;
    border: 1px solid #ece2cc;
}




.loaded_session_info {
    padding: .25em; 
    border-radius: 5px;
    border: 1px solid #ECDFCC;
    display: flex;
    position: relative;

    gap: .25em;
    flex-direction: column;

    /* overflow-x: auto; */

}


.loaded_session_info.nofolders {
    width: 100%;
}

.loaded_session_info button {
    max-width: 5em;
}


.loaded_session_info:hover {
    background-color: #ecdfcc56;
    color: #ECDFCC;

}

.drop_down:hover {
    background-color: #ECDFCC;
    color: #131B23;
    
}

.drop_down {
    background-color: #131B23;


    cursor: pointer;
    border-bottom: 1px solid #ECDFCC;
    padding: .25em;
    width: 100%;

    border: 1px solid #ecdfcc2f;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.drop_down_container {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    width: 100%;
    background-color: #ecdfcc2d;
}


.load_content {

    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: safe center;
    
    /* justify-self: center; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);


    gap: .5em;
    cursor: pointer;
    user-select: none;

    overflow: auto;
    
}

.hoveredInfo {
    display: flex;
    /* justify-content: space-between; */

    gap: 2em;
    
}

.info_button_container {

}

#save_session_button {
    padding: .25em;
}

.settings_content {
    padding: 1.5em;
}

.volume_container {
    display: flex;
    gap: .25em;
    align-items: safe center;
}